
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Ethnocentric';
	src: url('../public/font/ethnocentricrgit.otf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../public/font/Montserrat.ttf') format('truetype');
}
@font-face {
	font-family: 'Inter';
	src: url('../public/font/Inter.ttf') format('truetype');
}


@layer utilities {
	.font-Ethnocentric {
		font-family: 'Ethnocentric', sans-serif;
	}
    .font-Montserrat {
		font-family: 'Montserrat', sans-serif;
	}
    .font-Inter {
		font-family: 'Inter', sans-serif;
	}
  }


  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
