@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Montserrat&display=swap');

:root {}

body {
  background: #1A1C26;
  color: white;
}

body a {
  text-decoration: none !important;
  color: white;
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: #1a1c25;
  width: calc(100% - 20px);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s forwards;
}

/* Small */
/*@media (min-width: 768px) {
  .container {
    width: calc(100% - 20px);
    padding-right: 20px;
  }
}*/
/* Large */

/*@media (min-width: 1200px) {
    .container {
      width: 1164px;
    }
}*/
/*  Extra Large */
/*@media (min-width: 1800px) {
  .container {
    width: 100%;
  }
}*/

.navbar {
  background: #272932;
  width: -moz-fit-content;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  position: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;
  width: 116px;
  color: #8f8f8f;
}

.hidden-logo {
  display: none;
}

.logo {
  font-size: 1rem;
  flex-basis: 30%;
}

.logout {
  margin-bottom: 1rem;
  flex-basis: 15%;
  transition: 0.5s;
}

.navbar ion-icon {
  transition: 0.5s !important;
}

.logout ion-icon:hover {
  color: #D75433;
  cursor: pointer;
}

.navbar nav {
  height: 100%;
  position: relative;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color: #8f8f8f;
}

.navbar ul li a {
  color: inherit;
}

.navbar ul li .chat-icon {
  position: relative;
}

.navbar ul li .chat-icon::before {
  content: "!";
  position: absolute;
  top: -2px;
  right: 0;
  background-color: #e91746;
  width: 15px;
  height: 15px;
  color: white;
  z-index: 10;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: flash 3s ease;
  animation-iteration-count: infinite;
}

.navbar ul li ion-icon {
  cursor: pointer;
}

.navbar .active {
  color: #D75433;
  cursor: not-allowed;
  pointer-events: none;
}

.navbar ul li a:hover {
  color: #D75433 !important;
  transition: 0.5s;
}

#hoverarea {
  position: absolute;
  background-color: #1a1c26;
  width: 128px;
  height: 100px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transition: 0s;
  padding-right: 5px;
  left: -33px;
}

#hoverarea::before {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background: #272932;
  top: -2px;
  left: -1px;
  border-bottom-right-radius: 20px;
}

#hoverarea::after {
  content: '';
  width: 100%;
  height: 10px;
  position: absolute;
  background: #272932;
  left: -1px;
  border-top-right-radius: 20px;
  top: 94px;
}

.navbar ul li {
  z-index: 1;
  width: 50px;
  height: 120px;
}

.line {
  width: 80%;
  height: 1px;
  display: none;
  background: #8f8f8f;
  margin: 0 auto;
}

.h-bar {
  width: calc(100% - 189px);
  margin-left: 189px;
  height: 100px;
}

.search {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}

.search-sec {
  position: relative;
  color: #8f8f8f;
  margin-top: 35px;
  /*z-index: 1000;*/
}

.search-sec input {
  padding-left: 42px;
  border-radius: 10px;
  border: 0px;
  height: 41px;
  width: 293px;
  background: #272932;
  color: #8f8f8f;
}

.search-sec input:focus {
  outline: none;
}

.search-sec ion-icon {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  top: 10px;
  left: 8px;
}

.search-sec .search-results {
  position: relative;
  width: 335px;
  background: #272932;
  height: 134px;
  margin-top: 13px;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*justify-content: flex-start;*/
  gap: 40px;
  overflow-x: auto;
  display: none;
  opacity: 0;
}

.search-sec .search-results::-webkit-scrollbar {
  height: 3px;
}

.search-sec .search-results::-webkit-scrollbar-track {
  background: transparent;
}

.search-sec .search-results::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 20px;
}

.search-sec .search-results .search-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  padding-left: 5px;
  width: calc((335px - 120px) / 3);
  /* Subtracting twice the gap to fit three items */
  flex: 0 0 auto;
  box-sizing: border-box;
}

/*.search-results {
  display: flex;

  width: 335px;
}*/


.search-sec .search-results .search-user img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  border: 1px #7C51D3 solid;
  background: transparent;
  padding: 3px;
}

.search-sec .search-results .search-user a {
  text-decoration: none;
  color: white;
  font-family: 'Bakbak One', sans-serif;
  font-size: 0.8rem;
  margin-top: 3px;
}

.profile-sec img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.profile-sec {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.profile-sec .notification {
  background: #272932;
  color: #8f8f8f;
  width: 52px;
  height: 52px;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  margin-right: 12px;
}

.profile-sec .notification ion-icon {
  margin-top: 14px;
}

.leaderboard {
  margin-left: 189px;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

.leaderboard .banner {
  background-color: #282931;
  position: relative;
  height: 250px;
  border-radius: 20px;
  margin-top: 20px;
  background-image: url("/board.jpg");
  background-size: cover;
  background-position: 0 60%;
}

.leaderboard .banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgb(63 62 62 / 50%);*/
  background: linear-gradient(120.32deg, rgba(240, 78, 38, 0.185) 40.04%, rgb(118 90 177 / 65%) 54.94%, rgb(69 35 138 / 24%) 70.78%);
  border-radius: inherit;
}

.leaderboard .banner img {
  position: absolute;
  right: 58px;
  width: 355px;
  height: 315px;
  top: -50px;
}

.leaderboard .banner h2 {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-127%);
  font-family: Bakbak One;
  font-size: 40px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.leaderboard .banner h2 span {
  background: linear-gradient(269.25deg, #7C51D3 6.48%, #9B3C7B 51.03%, #C74E45 81.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.standings {
  background-color: #282931;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  color: white;
}

.standings .players {
  height: 600px;
  overflow: auto;
}

.standings .players::-webkit-scrollbar {
  width: 4px;
}

.standings .players::-webkit-scrollbar-track {
  background: transparent;
}

.standings .players::-webkit-scrollbar-thumb {
  background: #F5C451;

  border-radius: 20px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-spacing: 0 10px;
}

th,
td {
  padding: 20px 8px;
  text-align: center;
}

tr:first-child th:first-child {
  text-align: left;
}

td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

th:first-child,
th:last-child {
  color: grey;
}

th:first-child {
  width: 50%;
}

th:last-child {
  width: 20%;
}

tr:not(:first-child) {
  background: #1A1C26;
  border-radius: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

tbody tr:nth-child(1) {
  background: linear-gradient(269.91deg, #1A1C26 78.95%, rgba(67, 58, 45, 0.32) 87.35%, rgba(248, 180, 70, 0.5) 93.97%);
}

tbody tr:nth-child(2) {
  background: linear-gradient(269.9deg, #1A1C26 71.5%, #181C21 79.85%, rgba(132, 133, 134, 0.5) 97.12%);
}

tbody tr:nth-child(3) {
  background: linear-gradient(269.97deg, #1A1C26 80.74%, rgba(49, 31, 24, 0.5) 87.73%, #322015 97.64%);
}

tr:first-child th {
  padding: 5px 8px;
}

.standings ion-icon {
  font-size: 1.5rem;
  color: #36FF00;
}

.standings ion-icon[data-t="1"] {
  color: #FF0000;
}

.standings .matches {
  display: flex;
  justify-content: center;
}

.standings td .playername {
  position: relative;
  display: flex;
  gap: 25px;
  width: fit-content;
  padding-left: 10px;
}

.standings td .playername a,
.profile .extra-info .ei-content .friend .info a {
  text-decoration: none;
  color: inherit;
}

.standings td .playername img {
  position: absolute;
  top: -12px;
  left: -6px;
}

/* Medium */
@media (max-width: 1200px) {
  .standings ion-icon {
    font-size: 1rem;
  }

  .leaderboard .banner img {
    display: none;
  }

  .leaderboard .banner h2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    top: 39%;
    left: auto;
    transform: none;
  }
}

@media (max-width: 990px) {
  .leaderboard .banner h2 {
    font-size: 30px;
  }

  .standings ion-icon {
    font-size: 0.9rem;
  }

  .standings table {
    width: 100%;
  }
}

@media (max-width: 734px) {
  .leaderboard table {
    font-size: 0.8rem;
  }

  .standings ion-icon {
    font-size: 0.7rem;
  }

  .standings {
    padding: 20px 5px;
  }

  .hidden-logo {
    display: block;
    color: #8f8f8f;
    order: 1;
    text-align: center;
  }

  #hoverarea {
    width: 55px;
    border-radius: 12px;
    height: 59px;
    top: -9px;
    left: 0;
    transform: none;
    transform: translateX(-4px) !important;
  }

  #hoverarea::before {
    display: none;
  }

  #hoverarea::after {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    background-color: #272932;
    height: fit-content;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    gap: 1rem;
    box-shadow: rgb(39 41 50 / 17%) 0px 10px 20px, rgb(39 41 50 / 72%) 0px 6px 6px;
    display: none;
  }

  .navbar {
    position: relative;
    height: fit-content;
    background-color: transparent;
    order: 3;
    width: 100%;
    padding-bottom: 0;
    gap: 1.5rem;
  }

  header ion-icon {
    font-size: 1.5rem !important;
  }

  .search {
    gap: 1rem;
    flex-direction: column;
  }

  .search-sec {
    margin-top: 0;
    order: 2;
    margin: 0 auto;
  }

  .search-sec input {
    background: #1a1c25;
  }

  .profile-sec {
    margin-top: 0;
    flex-direction: row;
    order: 1;
    align-items: center;
    justify-content: center;
  }

  .profile-sec .notification {
    background-color: #1a1c25;
  }

  .logo {
    display: none;
  }

  .container {
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .navbar ul li {
    height: fit-content;
  }

  .navbar ul {
    gap: 1rem;
    flex-direction: row;

  }

  .h-bar {
    /*display: none;*/
    width: 100%;
    margin-left: 0;
    order: 2;
    height: fit-content;
  }

  .leaderboard {
    margin-left: 0px;
  }

  .standings td .playername img {
    top: -8px;
    left: 0px;
    width: 30px;
  }

}

.navbar-overlay {
  position: fixed;
  background: #000000cf;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 66;
  display: none;
  transition: 0.5s;
  opacity: 0;
}

@media (max-width:461px) {
  .standings {
    width: 100%;
    padding: 0;
    background: transparent;
    text-align: center;
  }

  .leaderboard .banner {
    display: none;
  }
}


/* Profile Start */

.profile {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 0px;
  margin-left: 189px;
  grid-gap: 14px;
  width: calc(100% - 189px);
  font-family: 'Bakbak One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
  flex: 1;
  background-color: inherit;
}

.profile .pf-section {
  background-color: #282931;
  border-radius: 20px;
  height: 400px;
  min-width: 0;
}

.profile .pf {
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.profile .pf .background {
  width: 100%;
  height: 160px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(255, 119, 85, 0.2) 90.85%),
    linear-gradient(0deg, #12082D, #12082D);
  box-shadow: 0px 4px 4px 0px #00000040;
  position: relative;
}

.p-info {
  color: white;
  display: flex;
  width: 100%;
  text-align: center;
  transform: translateY(16px);
  height: 135px;
}

@media(max-width:522px) {
  .p-info {
    height: fit-content;
  }
}

.p-info .p-info-sec {
  height: fit-content;
  flex: 50%;
  text-align: center;
  padding: 0 0 5px 0;
}

.p-info .p-info-sec:not(:first-child) {
  border-left: 1px #5B5B5B solid;
}

.p-info .sec-1,
.p-info .sec-2 {
  display: flex;
  flex-basis: 45%;
  text-align: center;
}

.p-info .player-image {
  transform: translateY(-86px);
  flex-basis: 14%;
}

@media(max-width: 522px) {
  .p-info .player-image {
    transform: translateY(-41px);
  }
}

.p-info h4 {
  margin: 0;
}

.p-info .username {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

.p-info h4 .options-section {
  background: #6f1fb5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  position: relative;
}

.options-section .user-options {
  position: absolute;
  top: 30px;
  background: #6f1fb5;
  font-size: 0.7rem;
  list-style: none;
  border-radius: 5px;
  left: 1px;
  border-top-left-radius: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.options-section .user-options .option {
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  padding-left: 3px;
  border-bottom: 1px black solid;
}

.options-section .user-options .option:last-child {
  border: none;
}

.username #toggleButton {
  cursor: pointer;
}

.options-section .user-options .option-content {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.3rem;
  transition: 0.5s;
  width: 100%;
}

.options-section .user-options .option ion-icon {
  font-size: 1rem;
}

.options-section .user-options .option .option-content:hover {
  transform: translateX(11px);
}

.options-section .user-options::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 10px;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #6f1fb5 transparent;
}

@media(max-width: 522px) {
  .options-section .user-options .option {
    width: 60px;
    font-size: 0.5rem;
    height: 25px;
  }

  .options-section .user-options .option ion-icon {
    font-size: 0.7rem;
  }

  .options-section .user-options .option .option-content:hover {
    transform: translateX(5px);
  }

  .options-section .user-options::before {
    top: -7px;
    left: 10px;
    border-width: 0 7px 7px 7px;
  }

  .options-section .user-options {
    top: 20px;
    left: -1px;
  }
}

.p-info h6 {
  margin: 5px 0 5px 0;
  color: #5B5B5B;
}

.p-info .player-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 7px #1a1c24 solid;
  background-color: #1a1c24;
}

@media (min-width: 1366px) {
  .p-info .player-image {
    transform: translateY(-86px);
    flex-basis: 14%;
  }

  .p-info .player-image img {
    width: 150px;
    height: 150px;
  }

  .profile {
    grid-template-columns: 2fr 1fr;
  }

  .profile .pf-section {
    height: 600px;
  }
}

.profile .buttonpart {
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile .addbtn {
  border-radius: 6px;
  background: linear-gradient(180deg, #D75433 0%, #5921CB 100%);
  border: none;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 7px 14px;
}

.profile .addbtn ion-icon {
  font-size: 1.3rem;
}

.levelpart {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.level {
  color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  height: 15%;
  align-items: center;
}

.level h5 {
  flex-basis: 12%;
  color: #5B5B5B;
}

.level .bar {
  height: 18px;
  flex-basis: 80%;
  border-radius: 20px;
  background: #493A65;
  text-align: center;
  position: relative;
}

.level .bar h5 {
  margin: 0;
  color: #dbdbdb;
  position: relative;
}

.level .bar .bar-fill {
  border-radius: 20px;
  background: linear-gradient(180deg, #D75433 0%, #5921CB 100%);
  height: 18px;
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 1365px) {
  .profile .global-chat {
    order: 4;
  }

  .profile .recent-matches {
    order: 3;
  }

  .profile .recent-matches {
    background-position: 0px -86px;
  }
}

/* Matches start */

.profile .recent-matches {
  padding: 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  background-image: url("/bg1.png");
  background-size: cover;
}

.profile .recent-matches .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(63 62 62 / 50%);
  border-radius: inherit;
}

@media(max-width:734px) {
  .profile .recent-matches {
    background-position: 0 0;
  }
}

.recent-matches h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  z-index: 1;
}

.recent-matches h4 span {
  padding: 2px 11px;
  background: #45FF26;
  border-radius: 15px;
}

.recent-matches .matches-class {
  overflow: auto;
  flex: 1;
  padding: 10px 0;
  z-index: 1;
}

.recent-matches .matches-class::-webkit-scrollbar {
  width: 4px;
}

.recent-matches .matches-class::-webkit-scrollbar-track {
  background: transparent;
}

.recent-matches .matches-class::-webkit-scrollbar-thumb {
  /*background: #45FF26;*/
  background: #8879C566;
  border-radius: 20px;
}

.recent-matches .matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 1rem;
}

@media (max-width:1365px) {
  .recent-matches {
    padding-bottom: 10px !important;
  }
}

/*.matches-scroll
{
  padding-right: 20px!important;
}*/

.recent-matches .matches .match {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  font-size: 0.7rem;
  background: #1A1C26B2;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.recent-matches .matches .match .avatar {}

.recent-matches .matches .match .avatar img {
  width: 40px;
  border-radius: 12px;
}

.recent-matches .matches .match h3 {}

.recent-matches .matches .match .time {
  padding: 5px 20px;
  border: 2px solid #8879C5;
  border-radius: 7px;
  font-weight: bold;
}

.recent-matches .matches .match .score {
  padding: 5px 20px;
  border: 2px solid #8879C5;
  border-radius: 7px;
  font-weight: bold;
}

.recent-matches .matches .match .score .loss {
  color: #FF0000;
}

.recent-matches .matches .match .score .win {
  color: #36FF00;

}

/*.recent-matches .matches .match .score{
  padding: 2px 0;
  background: #524E4E;
  border-radius: 10px;
  width: 74px;
  text-align: center;
}

.recent-matches .matches .match h5{
  position: relative;
}
.recent-matches .matches .match h5::before{
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background: linear-gradient(0deg, #D75433, #D75433),
linear-gradient(96.25deg, rgba(215, 84, 51, 0.35) 33.33%, rgba(255, 0, 0, 0.35) 71.7%);
  border-radius: 50%;
  left: -8px;
  top: 24%;
}
.recent-matches .matches .match h5::after{
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background: linear-gradient(0deg, #D75433, #D75433),
linear-gradient(96.25deg, rgba(215, 84, 51, 0.35) 33.33%, rgba(255, 0, 0, 0.35) 71.7%);
  border-radius: 50%;
  right: -8px;
  top: 24%;
}

.recent-matches .matches .match .time{
  padding: 2px 0;
  background: #524E4E;
  border-radius: 10px;
  width: 74px;
  text-align: center;
}*/

/* Global chat start*/

.profile .global-chat {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.global-chat h3 {
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px white;
  text-transform: uppercase;
}

.profile .global-chat .messages {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  overflow: auto;
  margin-bottom: 1rem;
  flex: 1;
  padding-right: 10px;
}

.profile .global-chat .messages::-webkit-scrollbar {
  width: 4px;
}

.profile .global-chat .messages::-webkit-scrollbar-track {
  background: transparent;
}

.profile .global-chat .messages::-webkit-scrollbar-thumb {
  background: #5742A9;
  border-radius: 20px;
}

.global-chat .messages .message {
  display: flex;
  color: white;
  font-size: 0.9rem;
  height: fit-content;
  position: relative;
}

.global-chat .messages .message .avatar {
  position: relative;
}

.global-chat .messages .message .avatar img {
  width: 49px;
  max-height: 100%;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.global-chat .messages .message .avatar .status {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: -3px;
  border-radius: 50%;
  z-index: 2;
  background: #65EFAD;
}

.offline-status {
  background: #7e8582;
}

.global-chat .messages .message .text {
  width: 75%;
  margin-left: 10px;
}

.global-chat .messages .message .time {
  flex: 1;
  text-align: right;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
  top: 0;
}

.global-chat .messages .message .text a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.global-chat .messages .message .text h5 {
  margin: 0;
  color: #5B5B5B;
  margin-top: 3px;
  word-wrap: break-word;
  width: 100%;
}

.global-chat .text-input {
  margin-top: auto;
  margin-bottom: 20px;
  position: relative;
  background: #1a1c25;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.global-chat .text-input input {
  background: transparent;
  flex-basis: 85%;
  border: 0;
  padding-left: 2%;
  color: white;
  outline: none;
}

.global-chat .text-input input:focus {
  border: none;
}

.global-chat .text-input .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s;
}

.global-chat .text-input button {
  width: 33px;
  height: 33px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background: linear-gradient(180deg, #D75433 0%, #5921CB 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /*  position: absolute;
  top: 8px;
  right: 15px;*/
}

.global-chat .text-input button ion-icon {
  transition: 0.5s;
}

@media (max-width: 1365px) {
  .global-chat .text-input input {
    flex-basis: 94%;
  }
}

@media (max-width: 734px) {
  .profile {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 522px) {

  .p-info .sec-1,
  .p-info .sec-2 {
    font-size: 0.7rem;
  }

  .p-info .player-image img {
    width: 60px;
    border-width: 5px;
    height: 60px;
  }

  .p-info .player-image {
    font-size: 0.5rem;
  }

  .profile .pf {
    height: fit-content;
  }

  .profile .pf .background {
    height: 90px;
  }

  .profile .addbtn {
    font-size: 0.7rem;
    top: 34%;
    gap: 3px;
  }

  .profile .addbtn ion-icon {
    font-size: 0.9rem;
  }

  .level {
    flex-direction: column;
  }

  .level .bar {
    width: 100%;
  }

  .level h5 {
    margin-bottom: 14px;
    font-size: 0.8rem;
  }
}

@media (max-width:461px) {
  .profile .global-chat .messages {
    gap: 0.5rem;
  }

  .profile .global-chat .message {
    font-size: 0.5rem;
  }

  .global-chat .messages .message .time {
    font-size: 0.5rem;
  }

  .global-chat .messages .message .avatar img {
    width: 30px;
    height: 30px;
  }

  .global-chat .text-input {
    font-size: 0.7rem;
    height: 40px;
  }

  .global-chat h3 {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }

  .global-chat .messages .message .avatar .status {
    width: 5px;
    height: 5px;
    right: -1px;
  }

  .recent-matches h4 {
    font-size: 0.5rem;
  }

  .global-chat .text-input button {
    width: 23px;
    height: 23px;
  }
}


/*extra-info start */
.profile .extra-info {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1366px) {
  .profile .extra-info {
    padding: 0 20px;
  }
}

.profile .extra-info nav {
  width: 100%;
  display: flex;
  color: #5B5B5B;
  position: relative;

  font-family: 'Bakbak One', sans-serif;
}

.profile .extra-info nav .item {
  flex-basis: 33.3%;
  text-align: center;
}

.profile .extra-info .four-items .item {
  flex-basis: 25% !important;
}

.profile .extra-info nav .active {
  color: white;
}

.profile .extra-info nav .item h4 {
  font-size: 0.7rem;
  transition: 0.5s;
  cursor: pointer;
}

.profile .extra-info nav .item h4:hover {
  color: white;
}

.profile .extra-info nav .indicator {
  width: 100%;
  background-color: #5b5b5b;
  position: absolute;
  height: 2px;
  bottom: 0;
}

.profile .extra-info nav .indicator .bar {
  position: absolute;
  left: 0;
  height: 2px;
  background: #5742A9;
  width: 33.3%;
  transition: 0.5s;
}

@media (max-width:461px) {
  .profile .extra-info nav .item h4 {
    font-size: 0.5rem;
  }
}

.profile .extra-info .ei-content {
  padding: 0 5px 0 0;
  flex: 1;
  overflow: auto;
  margin-bottom: 7px;
}

.profile .extra-info .ei-content::-webkit-scrollbar {
  width: 4px;
}

.profile .extra-info .ei-content::-webkit-scrollbar-track {
  background: transparent;
}

.profile .extra-info .ei-content::-webkit-scrollbar-thumb {
  background: #5742A9;
}

/* FriendList start*/
.profile .extra-info .ei-content .friend-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

.profile .extra-info .ei-content .friend {
  display: flex;
  background: #1a1c25;
  align-items: center;
  justify-content: space-between;
  border-radius: 18px;
  padding: 3px 14px;
  font-size: 0.8rem;
}

.profile .extra-info .ei-content .friend .info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.profile .extra-info .ei-content .friend .info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile .extra-info .ei-content .friend .optionbtn button:not(.myself) {
  padding: 4px 9px;
  background: transparent;
  border: 1.5px solid #8879C5;
  border-radius: 9px;
  color: white;
  cursor: pointer;
}

.profile .extra-info .ei-content .friend .optionbtn .myself {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 522px) {
  .profile .extra-info .ei-content .friend {
    font-size: 0.5rem;
  }

  .profile .extra-info .ei-content .friend .info img {
    width: 25px;
    height: 25px;
  }

  .profile .extra-info nav .item h4 {
    font-size: 0.6rem;
  }
}

@media (max-width:461px) {
  .profile .extra-info .ei-content .friend-list {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .profile .extra-info .ei-content .friend .optionbtn button:not(.myself) {
    font-size: 0.5rem;
  }
}

/*Channels start*/
.profile .extra-info .channels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

.profile .extra-info .channels .channel {
  display: flex;
  flex-direction: column;
  background: #1a1c25;
  color: white;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  height: 300px;
}

.profile .extra-info .channels .channel .background {
  height: 65%;
}

.profile .extra-info .channels .channel .background img {
  width: 100%;
  height: 100%;
}

.profile .extra-info .channels .channel .content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  flex: 1;
}

.profile .extra-info .channels .channel .content .details {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.profile .extra-info .channels .channel .content .details h6 {
  color: #5b5b5b;
}

.profile .extra-info .channels .channel .content .buttons {
  display: flex;
  justify-content: space-between;
}

.profile .extra-info .channels .channel .content .buttons button {
  background: linear-gradient(180deg, #D75433 0%, #5921CB 100%);
  border: none;
  color: white;
  font-size: 0.8rem;
  padding: 3px 10px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 522px) {
  .profile .extra-info .channels {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:380px) {
  .profile .extra-info .channels {
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
}

/*Achievement Start*/
.profile .extra-info .achievements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
}

.profile .extra-info .achievements .achievement {
  background: #1A1C26;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 10px;
  width: 80%;
  height: 64px;
  box-shadow: 0px 4px 4px 0px #00000040;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;

}

.profile .extra-info .achievements .on {
  background: #414455;
}

.profile .extra-info .achievements .achievement .icon-sec {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #FFFFFF1A;
}


.profile .extra-info .achievements .achievement .content h4 {
  text-shadow: 0px 0px 2px white;
  margin: 0;
}

.profile .extra-info .achievements .achievement .content h5 {
  margin: 0;
  color: #FFFFFF99;
  margin-top: 10px;
}

@media (max-width: 850px) {
  .profile .extra-info .achievements {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 522px) {
  .profile .extra-info .achievements .achievement .content {
    font-size: 0.7rem;
  }
}

/*Settings Start*/
.settings-form {
  display: flex;
  height: 100%;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

.settings-form .picture-section {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-form .picture {
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 170px;
}

.settings-form .picture img {
  max-width: 100%;
}

.settings-form .upload-input {
  position: absolute;
  bottom: -5px;
  background: #1a1c25c2;
  width: 100%;
  text-align: center;
  height: 42px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 10px;
  font-family: 'Bakbak One', sans-serif;
}

.settings-form .upload-input label {
  cursor: pointer;
}

@media (max-width: 522px) {
  .settings-form .upload-input {
    height: 24px;
    bottom: 5px;
    font-size: 0.6rem;
  }

  .settings-form .picture {
    width: 100px;
    height: 100px;
  }

  .personal-info {
    font-size: 0.7rem;
  }
}

.personal-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.personal-info label {
  /*margin: 10px 0;*/
}

.personal-info input,
.personal-info select,
._2factor input {
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  padding: 10px 0;
  background: #1A1C26;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

.personal-info input {
  width: calc(70% - 10px);
  padding-left: 10px;
}

.personal-info input:focus,
.personal-info select:focus,
._2factor input:focus {
  outline: none;
}

.personal-info h3 {
  margin: 0;
}

.personal-info label {
  color: #8F8F8F;
}

.personal-info button,
._2factor .verify-btn {
  transition: 0.5s;
  color: white;
  background: linear-gradient(226.53deg, #D75433 11.76%, #412271 74.33%);
  border-radius: 8px;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  /*font-family: 'Bakbak One', sans-serif;*/
  box-shadow: 0px 4px 4px 0px #00000040;
  color: white;
  font-size: 1rem;
  /*margin-top: 10px;*/
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
}

.non-active-btn {
  background: #414141 !important;
  color: #858383 !important;
  pointer-events: none;
  cursor: none;
}

.custom-select {
  position: relative;
  width: 70%;
}

.personal-info select {
  appearance: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}


.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  color: grey;
  transform: translateY(-50%);
  pointer-events: none;
}

@media(max-width:600px) {
  .settings-form {
    flex-direction: column;
    gap: 1rem;
  }

  .personal-info {
    align-items: center;
    gap: 1rem;
    padding-bottom: 10px;
  }

  .personal-info label {
    text-align: left;
    width: 70%;
  }
}

._2factor {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: #080808c4;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  display: none;
  animation: fadeInAnimation 1s ease forwards;
}

._2factor input {
  width: 300px;
  color: #8F8F8F;
  padding-left: 5px;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

._2factor .buttons {
  display: flex;
  gap: 1rem;
}

._2factor .btn-container {
  padding: 1px;
  width: 85px;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(326.18deg, #412270 33.98%, #C04C3C 101.11%, rgba(0, 0, 0, 0) 102.14%);
  box-shadow: 0px 4px 4px 0px #00000040;
}

._2factor .cancel-btn {
  background-color: #272932;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  /*background: linear-gradient(226.53deg, #D75433 11.76%, #412271 74.33%);*/
  border-radius: inherit;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
  /*border: 1px solid;
  width: 115px;
  height: 37px;
  border-radius: 8px;
  border: 1px;

  background: linear-gradient(0deg, #272932, #272932),
    linear-gradient(326.18deg, #412270 33.98%, #C04C3C 101.11%, rgba(0, 0, 0, 0) 102.14%);
  border-image-source: linear-gradient(326.18deg, #412270 33.98%, #C04C3C 101.11%, rgba(0, 0, 0, 0) 102.14%);*/
}

._2factor label {
  color: #8F8F8F;
  margin: 10px 0;
}

/*Animations : */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-height:857px) and (min-width:1366px) {
  .container {
    gap: 0.7rem;
  }

  header {
    height: 10vh;
  }

  .profile .pf-section {
    /* height: 600px; */
    height: calc(45vh - 14px);
  }

  .profile {
    margin-top: 0;
    margin-bottom: 0;
  }

  .p-info .player-image img {
    width: 120px;
    height: 120px;
    border-width: 5px;
  }

  .global-chat .messages .message .avatar img {
    width: 39px;
  }
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000cf;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  top: 0;
  left: 0;
  display: none
}

/*.loading-screen .circle {
  width: 20rem;
  height: 10rem;
  background-color: #48abe0;
  border-radius: 10rem 10rem 0 0;
}*/
.loader {
  display: block;
  z-index: 99;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  animation: spin 7s ease-in-out;
  animation-iteration-count: infinite;
  transition-duration: 0.1s;
}

.loader:hover {
  scale: 0.95;
  /*Loader on hover effect*/
}

/*Error Section*/
.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-section img {}

.error-section h2 {
  background: linear-gradient(269.25deg, #7C51D3 6.48%, #9B3C7B 51.03%, #C74E45 81.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  /*text-shadow: 0 1px 10px #7C51D3;*/
  font-family: 'Bakbak One', sans-serif;
  letter-spacing: 2px;
}

.error-section a {
  /*background: #7C51D3;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-family: 'Bakbak One', sans-serif;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.3rem;*/
  --c: #7C51D3;
  text-decoration: none;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid var(--c);
  font-family: 'Bakbak One', sans-serif;
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.error-section a span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.error-section a:hover {
  color: white;
}

.error-section a:hover span {
  transform: translateY(0) scale(2);
}

.error-section a span:nth-child(1) {
  --n: 1;
}

.error-section a span:nth-child(2) {
  --n: 2;
}

.error-section a span:nth-child(3) {
  --n: 3;
}

.error-section span:nth-child(4) {
  --n: 4;
}


/*Updated Page Start*/
.updated-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fadeInAnimation 1.5s ease forwards;
}

.updated-container h3 {
  font-family: 'Bakbak One', sans-serif;
  text-align: center;
  font-size: 2rem;
}

@media(max-width: 394px) {
  .updated-container img {
    width: 150px;
  }

  .updated-container h3 {
    font-size: 1rem;
  }
}

/*Two-Factor-Page Start*/
.two-factor-login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.two-factor-login .curvy-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: -4px;
  left: 0;
}

.two-factor-login svg {
  transition: 0.5s;
  fill: #3e3a3a;
}

.two-factor-login .content {
  display: flex;
  background: #272932;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 4px 10px 9px 0px #16161659;
  margin: 0 15px;
  font-family: 'Montserrat';
  z-index: 100;
}

.two-factor-login h3 {
  color: #646363;
  font-size: 1.7rem;
  margin: 0;
}

.two-factor-login h5 {
  margin: 15px 0;
  font-size: 1rem;
  width: 87%;
}

.two-factor-login .input-code {
  display: flex;
  height: 50px;
  position: relative;
}

/*.two-factor-login .input-code {
  flex-basis: 70%;
  position: relative;
}*/

.two-factor-login .input-code ion-icon {
  position: absolute;
  color: #d13231;
  font-size: 1.5rem;
  bottom: 14px;
  left: 3px;
}

.two-factor-login .input-code input {
  width: calc(100% - 40px);
  /* padding: 7px; */
  padding-left: 30px;
  color: #8f8d8d;
  border: 1px #d13231 solid;
  font-size: 1.1rem;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: inherit;
  flex-basis: 70%;
  font-size: 1rem;
}

.two-factor-login .input-code input:focus {
  outline: none;
}

.two-factor-login .input-code button {
  border: 1px #d13231 solid;
  background: #d13231;
  margin-left: -1px;
  color: white;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  flex-basis: 20%;
}

@media(max-width : 704px) {
  .two-factor-login .content {
    flex-direction: column;
  }

  .two-factor-login .sec-2 {
    text-align: center;
  }

  .two-factor-login img {
    width: 200px;
  }

  .two-factor-login h3 {
    font-size: 1.3rem;
  }

  .two-factor-login .input-code input {
    font-size: 0.7rem;
  }

  .two-factor-login .input-code ion-icon {
    font-size: 1.2rem;
    bottom: 15px;
    left: 8px;
  }

  .two-factor-login h5 {
    width: fit-content;
    font-size: 0.8rem;
  }

  .two-factor-login .content {
    height: 400px;
    justify-content: center;
  }
}


/*Chat Start : remove later*/
.chat {
  margin-left: 189px;
  font-family: Montserrat;
  opacity: 0;
  animation: fadeInAnimation 1s ease forwards;
}

.chat {
  display: flex;
}

.chat .sec-1 {
  flex-basis: 50%;
}

.chat .sec-1 .dms,
.chat .sec-1 .settings {
  width: 100%;
}

.chat ion-icon {
  cursor: pointer;
}

.chat .sec-1 .dms .add-channel {
  background: #000000b5;
  z-index: 10000;
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat .sec-1 .dms .add-channel form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  gap: 1rem;
  position: relative;
}

.chat .sec-1 .dms .add-channel form ion-icon {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.chat .sec-1 .dms .add-channel form input:focus,
.chat .sec-1 .dms .add-channel form select:focus {
  outline: none;
}

.chat .sec-1 .dms .add-channel form input:not([type="file"]),
.chat .sec-1 .dms .add-channel form select {
  border: 2px purple solid;
  border-style: solid;
  padding: 5px;
  font-size: 1rem;
}

.chat .dm-section {
  display: flex;
  width: 100%;
  background-color: blue;
  border-radius: 5px;
  gap: 1rem;
}

.chat .dm-section .dm-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat .dm-section .dm-img img {
  width: 80px;
  border-radius: 50%;
  height: 80px;
}

.chat .dm-section .dm-info {
  color: #868686;
}


.chat .dm-section .dm-info h3 {
  margin: 0;
  display: flex;
  gap: 0.2rem;
  align-items: center;
}


.chat .dm-section .dm-info h3 .status {
  width: 10px;
  height: 10px;
  margin-top: 2px;
  border-radius: 50%;
  background-color: green;
  position: relative;
}


.chat .dm-section .dm-info h4 {
  margin: 0;
}


.chat .dm-section .dm-info h5 {
  margin: 0;
}

.chat .single-dm,
.chat .channels {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.chat .dms {
  width: 40%;
}

.chat .settings {
  width: 40%;
}


.chat .settings .user {
  display: flex;
  width: 100%;
  background-color: blue;
  border-radius: 5px;
  gap: 1rem;
}

.chat .settings .user .user-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat .settings .user .user-img img {
  width: 80px;
  border-radius: 50%;
}

.chat .settings .user .user-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.chat .settings .add-friends {
  position: fixed;
  background: #2b2b2bba;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat .settings .add-friends .friend-list {
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  color: black;
  position: relative;
}

.chat .settings .add-friends .friend-list #close-btn {
  position: absolute;
  right: 3px;
  top: 0;
}

.chat .settings .add-friends .friend-list .friend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat .settings .add-friends .friend-list .friend h4 {
  flex-basis: 80%;
}

.chat .settings ion-icon {
  cursor: pointer;
}

.chat .settings .add-friends .friend-list .friend .friend-image {
  position: relative;
}

.chat .settings .add-friends .friend-list .friend .friend-image img {
  width: 50px;
  border-radius: 5px;
}

.chat .settings .add-friends .friend-list .friend .friend-image .status {
  width: 10px;
  right: 0;
  height: 10px;
  background-color: lightgreen;
  border-radius: 50%;
  position: absolute;
}

.chat .messages {
  flex: 1;
}

.chat .messages .results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 500px;
  overflow: auto;
}

.chat .messages .results .message {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.chat .messages .results .mine {
  flex-direction: row-reverse;
}

.chat .messages .results .mine .image .status {
  display: none;
}

.chat .messages .results .message .image {
  width: 50px;
  height: 50px;
  position: relative;
}

.chat .messages .results .message .image img {
  width: 100%;
  height: 100%;
  border: 2px solid lightgrey;
  border-radius: 16px;
}

.chat .messages .results .message .image .status {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: lightgrey;
}

.chat .messages .results .message .image .online {
  background-color: lightgreen;
}

.chat .messages .results .message .message-content {
  color: lightgrey;
  background-color: #272932;
  border-radius: 10px;
  padding: 5px;
  flex: 1;
}

.chat .messages .results .message .message-content h3 {
  margin: 0;
}

.chat .messages .results .message .message-content h5 {
  margin: 0;
}

.chat .messages .results .message .message-content h6 {
  margin: 0;
}

.sendbox {
  width: 100%;
  display: flex;
}

.sendbox input {
  flex-basis: 90%;
}

.sendbox button {
  flex: 1;
  width: 33px;
  height: 33px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 6px;
  background: linear-gradient(180deg, #D75433 0%, #5921CB 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.edit-password {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #1e1d1dab;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-password .section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.edit-password .section IonIcon {}

.edit-password .section button {
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
}

.pass-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #1e1d1dab;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pass-overlay .section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pass-overlay .section IonIcon {}

.pass-overlay .section button {
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-bottom: solid 1px transparent;
    border-top: solid 1px transparent;
  }

  50% {
    transform: rotate(1800deg);
    border: 1px solid white;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }

  100% {
    /*Reversed spinning*/
    transform: rotate(0deg);
    border-bottom: solid 1px transparent;
    border-top: solid 1px transparent;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*body {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  background-size: 100% 100vh;
  overflow: none;
}*/
@-webkit-keyframes flash {

  0%,
  50%,
  to {
    opacity: 1
  }

  25%,
  75% {
    opacity: 0
  }
}

@keyframes flash {

  0%,
  50%,
  to {
    opacity: 1
  }

  25%,
  75% {
    opacity: 0
  }
}